<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
	  <TargetPlatform>x64</TargetPlatform>
  </RunConfiguration>
  <!-- Configurations for data collectors -->
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="Code Coverage">
        <Configuration>
			<Format>cobertura</Format>
			<ExcludeAssembliesWithoutSources>MissingAll</ExcludeAssembliesWithoutSources>
          <CodeCoverage>
            <ModulePaths>
              <!--
              About include/exclude lists:
              Empty "Include" clauses imply all; empty "Exclude" clauses imply none.
              Each element in the list is a regular expression (ECMAScript syntax).
              See http://msdn.microsoft.com/library/2k3te2cs.aspx.
              An item must first match at least one entry in the include list to be included.
              Included items must then not match any entries in the exclude list to remain included.
              -->
              <Exclude>
                <ModulePath>.*\.tests\.dll$</ModulePath>
                <ModulePath>.*\.unittests\.dll$</ModulePath>
				<ModulePath>.*Ark\.Tools\.(\w|\.)+\.dll$</ModulePath>
              </Exclude>
            </ModulePaths>
            <!-- common excludes -->
            <Functions>
              <Exclude>
                <Function>^std::.*</Function>
                <Function>^ATL::.*</Function>
                <Function>.*::__GetTestMethodInfo.*</Function>
                <Function>^Microsoft::VisualStudio::CppCodeCoverageFramework::.*</Function>
                <Function>^Microsoft::VisualStudio::CppUnitTestFramework::.*</Function>
              </Exclude>
            </Functions>
            <Attributes>
              <Exclude>
                <Attribute>^System\.Diagnostics\.DebuggerHiddenAttribute$</Attribute>
                <Attribute>^System\.Diagnostics\.DebuggerNonUserCodeAttribute$</Attribute>
                <Attribute>^System\.Runtime\.CompilerServices\.CompilerGeneratedAttribute$</Attribute>
                <Attribute>^System\.CodeDom\.Compiler\.GeneratedCodeAttribute$</Attribute>
                <Attribute>^System\.Diagnostics\.CodeAnalysis\.ExcludeFromCodeCoverageAttribute$</Attribute>
              </Exclude>
            </Attributes>
            <PublicKeyTokens>
              <Exclude>
                <PublicKeyToken>^B77A5C561934E089$</PublicKeyToken>
                <PublicKeyToken>^B03F5F7F11D50A3A$</PublicKeyToken>
                <PublicKeyToken>^31BF3856AD364E35$</PublicKeyToken>
                <PublicKeyToken>^89845DCD8080CC91$</PublicKeyToken>
                <PublicKeyToken>^71E9BCE111E9429C$</PublicKeyToken>
                <PublicKeyToken>^8F50407C4E9E73B6$</PublicKeyToken>
                <PublicKeyToken>^E361AF139669C375$</PublicKeyToken>
              </Exclude>
            </PublicKeyTokens>
            <UseVerifiableInstrumentation>True</UseVerifiableInstrumentation>
            <AllowLowIntegrityProcesses>True</AllowLowIntegrityProcesses>
            <CollectFromChildProcesses>True</CollectFromChildProcesses>
            <CollectAspDotNet>False</CollectAspDotNet>
          </CodeCoverage>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
