# Remove the line below if you want to inherit .editorconfig settings from higher directories
root = true

# C# files
[*.cs]

#### Core EditorConfig Options ####

# Indentation and spacing
indent_size = 4
indent_style = space
tab_width = 4

# New line preferences
end_of_line = crlf
insert_final_newline = false

#### .NET Coding Conventions ####

# Organize usings
dotnet_separate_import_directive_groups = true
dotnet_sort_system_directives_first = false
file_header_template = unset

# this. and Me. preferences
dotnet_style_qualification_for_event = false:silent
dotnet_style_qualification_for_field = false:silent
dotnet_style_qualification_for_method = false:silent
dotnet_style_qualification_for_property = false:silent

# Language keywords vs BCL types preferences
dotnet_style_predefined_type_for_locals_parameters_members = true:silent
dotnet_style_predefined_type_for_member_access = true:silent

# Parentheses preferences
dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity:silent
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:silent
dotnet_style_parentheses_in_other_operators = never_if_unnecessary:silent
dotnet_style_parentheses_in_relational_binary_operators = always_for_clarity:silent

# Modifier preferences
dotnet_style_require_accessibility_modifiers = for_non_interface_members:silent

# Expression-level preferences
dotnet_style_coalesce_expression = true:suggestion
dotnet_style_collection_initializer = true:suggestion
dotnet_style_explicit_tuple_names = true:suggestion
dotnet_style_null_propagation = true:suggestion
dotnet_style_object_initializer = true:suggestion
dotnet_style_operator_placement_when_wrapping = beginning_of_line
dotnet_style_prefer_auto_properties = true:silent
dotnet_style_prefer_compound_assignment = true:suggestion
dotnet_style_prefer_conditional_expression_over_assignment = true:silent
dotnet_style_prefer_conditional_expression_over_return = true:silent
dotnet_style_prefer_inferred_anonymous_type_member_names = true:suggestion
dotnet_style_prefer_inferred_tuple_names = true:suggestion
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:suggestion
dotnet_style_prefer_simplified_boolean_expressions = true:suggestion
dotnet_style_prefer_simplified_interpolation = true:suggestion

# Field preferences
dotnet_style_readonly_field = true:suggestion

# Parameter preferences
dotnet_code_quality_unused_parameters = all:suggestion

#### C# Coding Conventions ####

# var preferences
csharp_style_var_elsewhere = false:silent
csharp_style_var_for_built_in_types = false:silent
csharp_style_var_when_type_is_apparent = false:silent

# Expression-bodied members
csharp_style_expression_bodied_accessors = true:silent
csharp_style_expression_bodied_constructors = false:silent
csharp_style_expression_bodied_indexers = true:silent
csharp_style_expression_bodied_lambdas = true:silent
csharp_style_expression_bodied_local_functions = false:silent
csharp_style_expression_bodied_methods = false:silent
csharp_style_expression_bodied_operators = false:silent
csharp_style_expression_bodied_properties = true:silent

# Pattern matching preferences
csharp_style_pattern_matching_over_as_with_null_check = true:suggestion
csharp_style_pattern_matching_over_is_with_cast_check = true:suggestion
csharp_style_prefer_switch_expression = true:suggestion

# Null-checking preferences
csharp_style_conditional_delegate_call = true:suggestion

# Modifier preferences
csharp_prefer_static_local_function = true:suggestion
csharp_preferred_modifier_order = public,private,protected,internal,static,extern,new,virtual,abstract,sealed,override,readonly,unsafe,volatile,async:silent

# Code-block preferences
csharp_prefer_braces = true:silent
csharp_prefer_simple_using_statement = true:suggestion

# Expression-level preferences
csharp_prefer_simple_default_expression = true:suggestion
csharp_style_deconstructed_variable_declaration = true:suggestion
csharp_style_inlined_variable_declaration = true:suggestion
csharp_style_pattern_local_over_anonymous_function = true:suggestion
csharp_style_prefer_index_operator = true:suggestion
csharp_style_prefer_range_operator = true:suggestion
csharp_style_throw_expression = true:suggestion
csharp_style_unused_value_assignment_preference = discard_variable:suggestion
csharp_style_unused_value_expression_statement_preference = discard_variable:silent

# 'using' directive preferences
csharp_using_directive_placement = outside_namespace:silent

#### C# Formatting Rules ####

# New line preferences
csharp_new_line_before_catch = true
csharp_new_line_before_else = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_open_brace = all
csharp_new_line_between_query_expression_clauses = true

# Indentation preferences
csharp_indent_block_contents = true
csharp_indent_braces = false
csharp_indent_case_contents = true
csharp_indent_case_contents_when_block = true
csharp_indent_labels = one_less_than_current
csharp_indent_switch_labels = true

# Space preferences
csharp_space_after_cast = false
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_after_comma = true
csharp_space_after_dot = false
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_after_semicolon_in_for_statement = true
csharp_space_around_binary_operators = before_and_after
csharp_space_around_declaration_statements = false
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_before_comma = false
csharp_space_before_dot = false
csharp_space_before_open_square_brackets = false
csharp_space_before_semicolon_in_for_statement = false
csharp_space_between_empty_square_brackets = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_declaration_name_and_open_parenthesis = false
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_parentheses = false
csharp_space_between_square_brackets = false

# Wrapping preferences
csharp_preserve_single_line_blocks = true
csharp_preserve_single_line_statements = true

#### Naming styles ####

# Naming rules

dotnet_naming_rule.interface_should_be_begins_with_i.severity = error
dotnet_naming_rule.interface_should_be_begins_with_i.symbols = interface
dotnet_naming_rule.interface_should_be_begins_with_i.style = begins_with_i

dotnet_naming_rule.types_should_be_pascal_case.severity = error
dotnet_naming_rule.types_should_be_pascal_case.symbols = types
dotnet_naming_rule.types_should_be_pascal_case.style = pascal_case

dotnet_naming_rule.private_method_should_be_begins_with__.severity = error
dotnet_naming_rule.private_method_should_be_begins_with__.symbols = private_method
dotnet_naming_rule.private_method_should_be_begins_with__.style = begins_with__

dotnet_naming_rule.private_or_internal_field_should_be_begins_with__.severity = error
dotnet_naming_rule.private_or_internal_field_should_be_begins_with__.symbols = private_or_internal_field
dotnet_naming_rule.private_or_internal_field_should_be_begins_with__.style = begins_with__

dotnet_naming_rule.private_properties_should_be_begins_with__.severity = error
dotnet_naming_rule.private_properties_should_be_begins_with__.symbols = private_property
dotnet_naming_rule.private_properties_should_be_begins_with__.style = begins_with__

dotnet_naming_rule.non_field_members_should_be_pascal_case.severity = error
dotnet_naming_rule.non_field_members_should_be_pascal_case.symbols = non_field_members
dotnet_naming_rule.non_field_members_should_be_pascal_case.style = pascal_case

# Symbol specifications

dotnet_naming_symbols.interface.applicable_kinds = interface
dotnet_naming_symbols.interface.applicable_accessibilities = public, internal, private, protected, protected_internal
dotnet_naming_symbols.interface.required_modifiers =

dotnet_naming_symbols.private_method.applicable_kinds = method
dotnet_naming_symbols.private_method.applicable_accessibilities = private
dotnet_naming_symbols.private_method.required_modifiers =

dotnet_naming_symbols.private_property.applicable_kinds = property
dotnet_naming_symbols.private_property.applicable_accessibilities = private
dotnet_naming_symbols.private_property.required_modifiers =

dotnet_naming_symbols.private_or_internal_field.applicable_kinds = field
dotnet_naming_symbols.private_or_internal_field.applicable_accessibilities = internal, private, protected, protected_internal
dotnet_naming_symbols.private_or_internal_field.required_modifiers =

dotnet_naming_symbols.types.applicable_kinds = class, struct, interface, enum
dotnet_naming_symbols.types.applicable_accessibilities = public, internal, private, protected, protected_internal
dotnet_naming_symbols.types.required_modifiers =

dotnet_naming_symbols.non_field_members.applicable_kinds = property, event, method
dotnet_naming_symbols.non_field_members.applicable_accessibilities = public, internal, private, protected, protected_internal
dotnet_naming_symbols.non_field_members.required_modifiers =

# Naming styles

dotnet_naming_style.pascal_case.required_prefix =
dotnet_naming_style.pascal_case.required_suffix =
dotnet_naming_style.pascal_case.word_separator =
dotnet_naming_style.pascal_case.capitalization = pascal_case

dotnet_naming_style.begins_with_i.required_prefix = I
dotnet_naming_style.begins_with_i.required_suffix =
dotnet_naming_style.begins_with_i.word_separator =
dotnet_naming_style.begins_with_i.capitalization = pascal_case

dotnet_naming_style.begins_with__.required_prefix = _
dotnet_naming_style.begins_with__.required_suffix =
dotnet_naming_style.begins_with__.word_separator =
dotnet_naming_style.begins_with__.capitalization = camel_case
csharp_style_namespace_declarations = block_scoped:warning
dotnet_diagnostic.CA1825.severity = warning
dotnet_diagnostic.CA1841.severity = warning
csharp_style_prefer_method_group_conversion = true:silent
dotnet_diagnostic.CA1070.severity = warning
dotnet_diagnostic.CA1001.severity = error
dotnet_diagnostic.CA1309.severity = suggestion
dotnet_diagnostic.CA1507.severity = warning
dotnet_diagnostic.CA2016.severity = warning
csharp_style_prefer_top_level_statements = true:silent
csharp_style_prefer_null_check_over_type_check = true:warning
csharp_style_prefer_local_over_anonymous_function = true:warning
csharp_style_implicit_object_creation_when_type_is_apparent = true:suggestion
csharp_style_prefer_tuple_swap = true:suggestion
csharp_style_prefer_utf8_string_literals = true:suggestion
dotnet_code_quality.ca1051.exclude_structs = true
csharp_style_prefer_primary_constructors = true:suggestion
csharp_prefer_system_threading_lock = true:suggestion
dotnet_diagnostic.MA0015.severity = none
dotnet_diagnostic.MA0042.severity = error
dotnet_diagnostic.MA0045.severity = error
dotnet_diagnostic.MA0050.severity = warning
dotnet_diagnostic.MA0053.severity = warning
dotnet_diagnostic.MA0067.severity = warning
dotnet_diagnostic.MA0102.severity = warning
dotnet_diagnostic.MA0113.severity = warning
dotnet_diagnostic.MA0114.severity = warning
dotnet_diagnostic.MA0121.severity = suggestion
dotnet_diagnostic.MA0133.severity = error
dotnet_diagnostic.MA0057.severity = warning
dotnet_diagnostic.MA0058.severity = warning
dotnet_diagnostic.MA0059.severity = warning
dotnet_diagnostic.CA1866.severity = warning
dotnet_diagnostic.CA1865.severity = warning
dotnet_diagnostic.CA1845.severity = warning
dotnet_diagnostic.CA1870.severity = warning
dotnet_diagnostic.MA0028.severity = warning
dotnet_diagnostic.MA0029.severity = suggestion
dotnet_diagnostic.MA0044.severity = warning
dotnet_diagnostic.MA0063.severity = warning
dotnet_diagnostic.MA0078.severity = error
dotnet_diagnostic.MA0152.severity = warning
dotnet_diagnostic.MA0160.severity = warning
dotnet_diagnostic.CA2020.severity = warning
dotnet_diagnostic.MA0032.severity = none
dotnet_diagnostic.MA0040.severity = error
dotnet_diagnostic.MA0004.severity = suggestion
dotnet_diagnostic.MA0043.severity = warning
dotnet_diagnostic.MA0079.severity = error
dotnet_diagnostic.MA0080.severity = warning
csharp_style_prefer_pattern_matching = true:silent
csharp_style_prefer_not_pattern = true:suggestion
csharp_style_prefer_extended_property_pattern = true:suggestion
dotnet_diagnostic.MA0048.severity = silent
dotnet_diagnostic.MA0006.severity = silent
dotnet_diagnostic.MA0051.severity = suggestion
dotnet_diagnostic.MA0016.severity = suggestion

# VSTHRD200: Use "Async" suffix for async methods
dotnet_diagnostic.VSTHRD200.severity = silent
dotnet_diagnostic.MA0056.severity = silent
dotnet_diagnostic.MA0049.severity = none
dotnet_diagnostic.MA0007.severity = silent

[*.{cs,vb}]
dotnet_style_operator_placement_when_wrapping = beginning_of_line
tab_width = 4
indent_size = 4
end_of_line = crlf
dotnet_style_coalesce_expression = true:suggestion
dotnet_style_null_propagation = true:suggestion
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:suggestion
dotnet_style_prefer_auto_properties = true:silent
dotnet_style_object_initializer = true:suggestion
dotnet_style_collection_initializer = true:suggestion
dotnet_style_prefer_simplified_boolean_expressions = true:suggestion
dotnet_diagnostic.CA1827.severity = error
dotnet_diagnostic.CA1828.severity = warning
dotnet_diagnostic.CA2000.severity = error
dotnet_diagnostic.CA2012.severity = warning
dotnet_diagnostic.CA1018.severity = warning
dotnet_diagnostic.CA1041.severity = warning
dotnet_diagnostic.CA1051.severity = warning
dotnet_diagnostic.CA1061.severity = warning
dotnet_diagnostic.CA1067.severity = warning
dotnet_diagnostic.CA1068.severity = error
dotnet_diagnostic.CA1069.severity = error
dotnet_diagnostic.CA1304.severity = warning
dotnet_diagnostic.CA1305.severity = suggestion
dotnet_diagnostic.CA1310.severity = suggestion
dotnet_diagnostic.CA1821.severity = error
dotnet_diagnostic.CA1823.severity = error
dotnet_diagnostic.CA1832.severity = warning
dotnet_diagnostic.CA1833.severity = warning
dotnet_diagnostic.CA1836.severity = error
dotnet_diagnostic.CA1844.severity = warning
dotnet_diagnostic.CA1847.severity = warning
dotnet_diagnostic.CA2002.severity = error
dotnet_diagnostic.CA2011.severity = warning
dotnet_diagnostic.CA5350.severity = warning
dotnet_diagnostic.CA5351.severity = error
dotnet_diagnostic.CA5359.severity = warning
dotnet_diagnostic.CA5379.severity = warning
dotnet_diagnostic.CA5385.severity = warning
dotnet_diagnostic.CA5397.severity = warning
dotnet_diagnostic.CA1816.severity = warning
dotnet_diagnostic.CA2201.severity = warning
dotnet_diagnostic.CA2211.severity = warning
dotnet_diagnostic.CA2215.severity = warning
dotnet_diagnostic.CA2219.severity = warning
dotnet_diagnostic.CA2242.severity = warning
dotnet_diagnostic.CA2245.severity = error
dotnet_diagnostic.CA1510.severity = suggestion
dotnet_diagnostic.CA1050.severity = warning
dotnet_diagnostic.CA1862.severity = warning
dotnet_diagnostic.CA1850.severity = warning
dotnet_diagnostic.IDE0005.severity = warning
dotnet_style_readonly_field = true:suggestion
dotnet_diagnostic.CA1063.severity = error
dotnet_diagnostic.CA2213.severity = warning
dotnet_style_prefer_conditional_expression_over_assignment = true:silent
dotnet_style_explicit_tuple_names = true:suggestion
dotnet_style_prefer_conditional_expression_over_return = true:silent
dotnet_style_prefer_inferred_tuple_names = true:suggestion
dotnet_style_prefer_inferred_anonymous_type_member_names = true:suggestion
dotnet_style_prefer_compound_assignment = true:suggestion
dotnet_style_prefer_simplified_interpolation = true:suggestion
dotnet_style_namespace_match_folder = true:suggestion
dotnet_style_predefined_type_for_locals_parameters_members = true:silent
dotnet_style_predefined_type_for_member_access = true:silent
dotnet_style_require_accessibility_modifiers = for_non_interface_members:silent
dotnet_diagnostic.CA1000.severity = none
dotnet_diagnostic.CA1002.severity = none
dotnet_diagnostic.CA1019.severity = suggestion
dotnet_diagnostic.CA1024.severity = none
dotnet_diagnostic.CA1040.severity = suggestion
dotnet_diagnostic.CA1031.severity = none
dotnet_diagnostic.CA1033.severity = none
dotnet_diagnostic.CA1034.severity = none
dotnet_diagnostic.CA1054.severity = suggestion
dotnet_diagnostic.CA1056.severity = suggestion
dotnet_diagnostic.CA1062.severity = suggestion
dotnet_diagnostic.CA1308.severity = suggestion
dotnet_diagnostic.CA1515.severity = suggestion
dotnet_diagnostic.CA1707.severity = none
dotnet_diagnostic.CA1716.severity = none
dotnet_diagnostic.CA1720.severity = none
dotnet_diagnostic.CA1724.severity = none
dotnet_diagnostic.CA1810.severity = suggestion
dotnet_diagnostic.CA1812.severity = none
dotnet_diagnostic.CA1819.severity = suggestion
dotnet_diagnostic.CA1834.severity = warning
dotnet_diagnostic.CA1835.severity = warning
dotnet_diagnostic.CA1846.severity = warning
dotnet_diagnostic.CA1851.severity = none
dotnet_diagnostic.CA5360.severity = warning
dotnet_diagnostic.CA5363.severity = warning
dotnet_diagnostic.CA2250.severity = warning
dotnet_diagnostic.CA2253.severity = warning
dotnet_diagnostic.CA1839.severity = warning
dotnet_diagnostic.CA1853.severity = warning
dotnet_diagnostic.CA1854.severity = error
dotnet_diagnostic.CA1859.severity = suggestion
dotnet_diagnostic.CA1864.severity = warning
dotnet_diagnostic.CA1868.severity = warning
dotnet_diagnostic.CA1869.severity = warning
dotnet_diagnostic.CA2007.severity = suggestion
dotnet_diagnostic.CA2227.severity = none
dotnet_diagnostic.CA5365.severity = warning
dotnet_diagnostic.CA5364.severity = warning

dotnet_code_quality.CA1822.api_surface = private, internal

[*.vb]
dotnet_diagnostic.CA1047.severity = warning