{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "AzureServiceBus__ConnectionString": "your-service-bus-namespace-or-connection-string",
    "ConnectionStrings:Sample": ""
  }
}
