name: "CI"

on:
  push:
    branches: [ master ]
  pull_request:
  workflow_dispatch:

jobs:
  build:
    name: 'Build'
    runs-on: 'ubuntu-latest'
    services:
      azurite:
        image: mcr.microsoft.com/azure-storage/azurite:latest
        ports:
          - 10000:10000
          - 10001:10001
          - 10002:10002
      sqlserver:
        image: mcr.microsoft.com/mssql/server:2025-latest
        ports:
          - 1433:1433
        env:
          ACCEPT_EULA: 'Y'
          MSSQL_SA_PASSWORD: 'SpecFlowLocalDbPassword85!'
          MSSQL_COLLATION: 'Latin1_General_CI_AS_KS'

    steps:
    - name: 'Checkout'
      uses: actions/checkout@v6

    - name: 'Install dotnet'
      uses: actions/setup-dotnet@v5
      with:
        global-json-file: global.json
      
    - name: 'Restore packages'
      run: dotnet restore

    - name: 'Build project'
      run: dotnet build --no-restore --configuration Debug

    - name: Test
      run: dotnet test --no-restore --configuration Debug --logger "trx;LogFileName=test-results.trx" --blame --blame-crash --blame-hang --blame-hang-timeout 10m --settings "./samples/Ark.ReferenceProject/CodeCoverage.runsettings" --collect "Code Coverage"
      
    # see https://github.com/dorny/test-reporter?tab=readme-ov-file#recommended-setup-for-public-repositories
    - uses: actions/upload-artifact@v5  # upload test results
      if: success() || failure()        # run this step even if previous step failed
      with:
        name: test-results
        path: "**/test-results.trx"

    - name: Install dotnet-coverage
      run: dotnet tool install -g dotnet-coverage

    - name: Convert coverage to cobertura
      run: dotnet-coverage merge **/*.coverage -f cobertura -o coverage.cobertura.xml

    - name: Create code coverage report
      run: |
        dotnet tool install -g dotnet-reportgenerator-globaltool
        reportgenerator -reports:coverage.cobertura.xml -targetdir:CodeCoverage -reporttypes:'MarkdownSummaryGithub;Cobertura'

    - name: Write to Job Summary
      run: cat CodeCoverage/SummaryGithub.md >> $GITHUB_STEP_SUMMARY
    
