name: "Deploy to NuGet"

on:
  push:
    tags:
    - 'v[0-9]+\.[0-9]+\.[0-9]+'
    - 'v[0-9]+\.[0-9]+\.[0-9]+-beta[0-9][0-9]'

env:
  PACKAGE_OUTPUT_DIRECTORY: ${{ github.workspace }}/output
  NUGET_SOURCE_URL: 'https://api.nuget.org/v3/index.json'

jobs:
  deploy:
    name: 'Nuget Push'
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
    runs-on: 'ubuntu-latest'
    services:
      sqlserver:
        image: mcr.microsoft.com/mssql/server:2025-latest
        ports:
          - 1433:1433
        env:
          ACCEPT_EULA: 'Y'
          MSSQL_SA_PASSWORD: 'LocalTestingDbPassword85!'
          MSSQL_COLLATION: 'Latin1_General_CI_AS_KS'
          
    steps:
    - name: 'Checkout'
      uses: actions/checkout@v6

    - name: 'Start Azurite'
      run: |
        docker run -d \
          -p 10000:10000 \
          -p 10001:10001 \
          -p 10002:10002 \
          mcr.microsoft.com/azure-storage/azurite:latest \
          azurite --skipApiVersionCheck --blobHost 0.0.0.0 --queueHost 0.0.0.0 --tableHost 0.0.0.0

    - name: 'Install dotnet'
      uses: actions/setup-dotnet@v5
      with:
        global-json-file: global.json

    - name: 'Get Version'
      id: version
      uses: battila7/get-version-action@v2

    - name: Build
      run: dotnet build --configuration Debug

    - name: 'Build project (dacpac copy issue)'
      run: dotnet build --configuration Debug
      
    - name: Test
      run: dotnet test --no-build --no-restore --configuration Debug --report-trx --coverage --crashdump --crashdump-type mini --hangdump --hangdump-timeout 10m --hangdump-type mini --minimum-expected-tests 1

    - name: 'Pack project'
      run: dotnet pack --configuration Release --include-symbols -p:Version=${{ steps.version.outputs.version-without-v }} --output ${{ env.PACKAGE_OUTPUT_DIRECTORY }}

    - name: 'Push package'
      run: dotnet nuget push ${{ env.PACKAGE_OUTPUT_DIRECTORY }}/*.nupkg -k ${{ secrets.NUGET_AUTH_TOKEN }} -s ${{ env.NUGET_SOURCE_URL }}
